<<<<<<< HEAD
#container {
  overflow: hidden;
=======
.card {
  background-color: transparent;
}

.card li {
  background-color: black;
  color: white; 
}

#packages-container {
   overflow: hidden;
>>>>>>> main
}

#profile {
  float: left;
  margin: 10px;
}

#packagesCards {
  display: flex;
  flex-flow: row wrap;
<<<<<<< HEAD
  overflow: hidden;
=======
  overflow: hidden; 
>>>>>>> main
  margin: 10px;
}

.card {
  border: 1px solid #30363d;
}

.package-card-img-top {
  height: 50px;
  width: 50px;
}

#search-packages {
  margin: 10px;
}

#packagesForm {
  margin: 10px;
  max-width: 80%;
}

 
.form-floating {
  color:#30363d;
  width: 93%;
}

#footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
    
}

form {
  color:#30363d;
}

.card-body {
  margin: 5px;
}
