.container {
  display: flex;
}

.project-container {
  display: flex; 
  flex-wrap: wrap;
  border: 2px solid #30363d;
  margin: 10px;
  padding: 20px; 
}

.project-cards {
  flex-wrap: wrap;
}

.projectCardSortButton {
  cursor: pointer;
  border: none;
  outline: none;
}

#project-form-div {
  width: 100%; 
}


.card {
  background-color: black;
  color: white; 
}

.card li {
  background-color: black;
  color: white; 
}

textarea.form-control {
  height: 40px; 
}
